body{font-family: 'Poppins', sans-serif;
}

.mynavbar {
    background-color: #4741AF;
    color: white;
}


.navbar{
    font-weight: 800;
    
}

.nav-link, .navbar-brand{
    color: white;
}
.azad{background-color: #4741AF;
    color: white;

}


.Azad-heading{
    font-size: 72px;
    font-weight: 800;
}

.azad-btn{
    background-color: #7971FF;
    color: white;
    font-weight: 12px;
    padding: 12px 58px;
    border-radius: 30px;
    font-size: 21px;
}
.azad-btn:hover{
    background-color:white;
    color: #7971FF;
}

.azad-text{
    font-size: 24px;
}

.text-title{
font-size: 35px;
font-weight: 700;
}
.text-title-l{font-size: 45px;
    
}
.text-stitle{color: #7971FF;
    font-weight: 700;
    font-size: 24px;

}

.tex-link{
    font-weight: 700;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid #7971fF; 

}

.text-p{
    font-weight: 400;
    font-size: 17px;
}
.navbar-brand{
    font-size: 45px;
}

.a-img{
    margin-left: -265px;
}

.service-img-bg{
    background-color: rgb(243, 249, 251);
    border-radius: 50%;  
}
.service-img-bg img{
    margin-top: -101px;
  margin-left: 46px;
}

.s-icon{
    background-color: #6c63ff;
    color: white;
    padding: 13px;
    border-radius: 50%;
    width: 53px;
    display: block;
    height: 53px;
    text-align: center;
}

.service-title{
    font-size: 21px;
    font-weight: 700;
}